:root {
    /* colors */
    --black: #000;
    --white: white;
    --banner-bg-color: #00BEAE;

    /* width */

    /* font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
}